{% extends 'base.html' %}

{% block body %}
<h2 class="title" style="text-align: center; padding-top: 1.2rem;">Sorry To Break it To You, </h2>
<h1 class="main_title" style="font-size: 3.2rem;">But This Page Doesn't Exist!</h1>
<div style="text-align: center;">
    <button class="btn btn-warning"><a href="/create/text" class="btn_link">Make a Paste Now!</a></button>
</div>
<div style="text-align: center;">
    <img src="https://http.dog/404.jpg" alt="404 Error" id="error">
</div>
{% endblock %}