{%  extends 'base.html' %}

{% block body %}
<h2 class="display-3" style="text-align: center;">{{ author }}</h2>
<div class="container-fluid" style="margin-left: 10%; margin-right: 10%;">
	<div class="row">
		{% for post in posts %}
		    <div class="col-md-3">
				<div class="card card_div" style="background-color:#ffffff;">
				  	<div class="card-body">
				    	<h5 class="card-title">{{ post.title }}</h5>
				    	<p class="card-text">{{ post.author }} <br> {{ post.hash }} <br> {{ post.time }} </p>
				    	<button type="button" class="btn btn-primary"><a href="/paste/{{ post.hash }}" class="btn_link">See The Paste</a></button>
				  	</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}