<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>NoobPaste 🗒️ | Paste Away My Friend</title>
    <meta name="title" content="NoobPaste 🗒️ | Paste Away My Friend">
    <meta name="description" content="A Simple PasteBin inspired by pastebin.com, comes with a built in Editor">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://noobpaste.herokuapp.com/">
    <meta property="og:title" content="NoobPaste 🗒️ | Paste Away My Friend">
    <meta property="og:description" content="A Simple PasteBin inspired by pastebin.com, comes with a built in Editor">
    <meta property="og:image" content="{{ url_for('static',filename='assets/icons/favicon.svg') }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://noobpaste.herokuapp.com/">
    <meta property="twitter:title" content="NoobPaste 🗒️ | Paste Away My Friend">
    <meta property="twitter:description" content="A Simple PasteBin inspired by pastebin.com, comes with a built in Editor">
    <meta property="twitter:image" content="{{ url_for('static',filename='assets/icons/favicon.svg') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/master.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/testing.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/icons/favicon.svg') }}" type="image/x-icon">
    <title>NoobPaste 🗒️ | Paste Away My Friend</title>
</head>
<head>
    <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"noobscience",utcoffset:"6"}))};sessionStorage.setItem("_swa","1");</script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark position-sticky" style="background-color: #1c1c1d;" id="navbar">
    <div class="container-fluid">
        <span class="navbar-brand">⚡</span>
        <a class="nav_title animate__animated animate__backInUp animate__delay-1s" href="/">NoobPaste <small class="text-muted" style="color: #63615e; font-size: 12px;">Paste Away</small></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav_block" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav_link active" aria-current="page" href="/#advantages">About</a>
                </li>
                <li class="nav-item">
                <a class="nav_link" href="/editor">Editor</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav_link" href="/authors/{{ current_user.username }}">{{ current_user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_link" href="/logout">LogOut</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav_link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_link" href="/register">Register</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                <a class="nav_link" href="https://github.com/newtoallofthis123/NoobPaste"><i class="bi bi-github"></i></a>
                </li>
                <li class="nav-item">
                <a class="nav_link" href="mailto:noobscience123@gmail.com"><i class="bi bi-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<body id="body">
    {% block body %} {% endblock %}
</body>
</html>