{% extends 'base.html' %}

{% block body %}
	<h3 class="main_text" style="text-align: center; padding: 1.2rem;">Try out The Rich Text <a href="/md_editor" class="link">Editor</a><span class="badge bg-warning" style="margin-left: 12px;">New!</span></h3>
	<div>
		<form action="/code_edit_temp" method="post" id="language_select">
			<label for="basic-url" class="form-label lead text" style="padding: 12px;">Choose Your Language</label>
			<select class="form-select" aria-label="Default select example" name="language">
				<option value="python">Python</option>
				<option value="javascript">Javascript</option>
				<option value="html">HTML</option>
				<option value="css">CSS</option>
				<option value="markdown">Markdown</option>
				<option value="text">Text</option>
				<option value="lua">Lua</option>
				<option value="java">Java</option>
				<option value="sql">SQL</option>
				<option value="php">PHP</option>
				<option value="xml">XML</option>
				<option value="cpp">C++</option>
				<option value="rust">Rust</option>
				<option value="powershell">Powershell</option>
				<option value="vbscript">VBScript</option>
				<option value="toml">TOML</option>
				<option value="swift">Swift</option>
				<option value="shell">Shell</option>
				<option value="ruby">Ruby</option>
				<option value="perl">Perl</option>
				<option value="jsx">JSX</option>
				<option value="go">go</option>
			</select>
			<label for="basic-url" class="form-label lead text" style="padding: 12px;">Choose Your Favourite Theme</label>
			<select class="form-select" aria-label="Default select example" name="theme">
				<option selected value="dracula">Dracula</option>
				<option value="monokai">Monokai</option>
				<option value="bespin">Bespin</option>
				<option value="cobalt">Cobalt</option>
				<option value="ayu-dark">Ayu-Dark</option>
				<option value="base16-light">Base16-light</option>
				<option value="base16-dark">Base16-dark</option>
				<option value="mdn-like">MDN</option>
				<option value="neat">Neat</option>
				<option value="night">Night</option>
				<option value="nord">Nord</option>
				<option value="hopscotch">Hopscotch</option>
				<option value="Idea">Idea</option>
				<option value="base16-dark">Base16 Dark</option>
				<option value="base16-light">Base16 Light</option>
				<option value="material-darker">Material Darker</option>
				<option value="material-palenight">Material PaleNight</option>
				<option value="material-ocean">Material Ocean</option>
				<option value="3024-day">3024-Day</option>
				<option value="3024-night">3024-Night</option>
				<option value="lucario">Lucario</option>
				<option value="neo">Neo</option>
				<option value="material">Material</option>
				<option value="paraiso-dark">Paraiso-Dark</option>
				<option value="paraiso-night">Paraiso-Night</option>
				<option value="ambiance">Ambiance</option>
				<option value="blackboard">BlackBoard</option>
				<option value="elegant">Elegant</option>
				<option value="railscasts">RailCasts</option>
				<option value="rubyblue">RubyBlue</option>
			</select>
			<label for="basic-url" class="form-label lead text" style="padding: 12px;">Choose KeyBindings</label>
			<select class="form-select" aria-label="Default select example" name="keybindings">
				<option selected value="sublime">Sublime</option>
				<option value="vim">Vim</option>
				<option value="emacs">Emacs</option>
			</select>
			<label for="basic-url" class="form-label lead text" style="padding: 12px;">Choose Your Font</label>
			<select class="form-select" aria-label="Default select example" name="font">
				<option selected value="Oxygen Mono">Oxygen Mono</option>
				<option value="Cascadia Code">Cascadia Code</option>
				<option value="JetBrains Mono">JetBrains Mono</option>
				<option value="Fira Code">Fira Code</option>
			</select>
			<!-- <input type="color" name="color"> -->
			<div style="text-align: center;">
				<button type="submit" id="language_btn">Continue <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z" fill="#defece" /></svg></button>
			</div>
		</form>
	</div>
{% endblock %}
