<link rel="stylesheet" href="{{ url_for('static',filename='css/python_styles.css') }}">
{% extends 'base.html' %}

{% block body %}
    <div class="home">
        <!-- <div style="margin-right: 12%; margin-left: 12%; padding-top: 2%; text-align: center;">
            <img src="{{ url_for('static',filename='assets/icons/text_icon.svg') }}" alt="">
        </div> -->
        <h1 class="main_title typewrite" data-period="2000" data-type='[ "Meet NoobPaste", "The Only Paste;", "You will Ever Need!", "Try it Now!" ]'></h1>
    </div>
    <div class="main_text" style="text-align: center;">
        {% if author == "None" %}
        Create Your Paste Now!
        {% else %}
        {{ author }}! You Last Shortened <a href="/{{ latest_url }}" class="link">/{{ latest_url }}</a>
        {% endif %}
    </div>
    <div class="main_text text_div">
        Sharing Code has never been easier and more simpler then this. NoobPaste is a simple flask application written in python and hosted on heroku. It is fast, private and secure. 
        NoobPaste posts your data onto a secure database and it is very secure and easy to use. NoobPaste uses simple point one to point two redirect. This means not much javascript is used.
        NoobPaste uses <a href="https://codemirror.net" class="link">CodeMirror</a> for syntax highlighting and uses it's CDN for fast delivery. NoobPaste is open source and it's development is active on <a href="" class="link"><i class="bi bi-github"></i>GitHub</a>.
        You can sign in to NoobPaste to unlock some extra features but this is completely private. 
    </div>
    <form action="/create_temp" method="post" id="language_select">
        <select class="form-select" aria-label="Default select example" id="lang_form" name="language">
            <option selected>Select Language</option>
            <option value="python">Python: 🐍 Python is an Awesome Choice</option>
            <option value="javascript">Javascript: Console.log("Use Me!")</option>
            <option value="html">HTML: I am not an actual language, but um 🤷🏻‍♂️</option>
            <option value="css">CSS: I'm so pretty 💋</option>
            <option value="markdown">Markdown: Standard as a rock </option>
            <option value="text">Text: I'm old 👴🏻</option>
            <option value="lua">Lua: Who's Python ❔</option>
            <option value="java">Java: I Like Minecraft ⛏!</option>
            <option value="json">JSON: Format Me!</option>
            <option value="php">PHP: Who am I ❔</option>
            <option value="xml">XML: What am I?</option>
            <option value="cpp">C++: I'm Fun 🏈!</option>
            <option value="rust">Rust: Who Likes the terminal 💲</option>
            <option value="powershell">Powershell: I Love Windows 💻</option>
            <option value="vbscript">VBScript: Am I a virus? 🦠</option>
            <option value="toml">TOML: Pip Install Me! 🐍</option>
            <option value="swift">Swift: Apple would be proud 🍎</option>
            <option value="shell">Shell: Bash Stuff!</option>
            <option value="ruby">Ruby: I'm So Precious✨</option>
            <option value="perl">Perl: I'm Better Than Python!</option>
            <option value="jsx">JSX: I have no idea about myself 👀</option>
            <option value="go">go: Let's go!</option>
        </select>
        <div style="text-align: center;">
            <button type="submit" id="language_btn">Continue <i class="bi bi-arrow-right"></i></button>
        </div>
    </form>
    {% if current_user.is_authenticated %}
        <input type="hidden" id="login" value="false">
    {% else %}
        <input type="hidden" id="login" value="{{ login }}">
    {% endif %}
    <script>
        $(document).ready(function(){
            var login = $("#login").val()
            if (login == "true"){
                login_confirm = confirm("Login Credentials in Cookies Found! Do you want to login?")
                if (login_confirm){
                    $.ajax({
                        type: "get",
                        url: "/alt_login",
                        success: function(response) {
                            alert("Logged in successfully")
                            location.reload()
                        },
                        error: function(err) {
                            alert("This was the error: " + err);
                        }
                    });
                }
            }
        })
    </script>
{% endblock %}
