{% extends 'base.html' %}

{% block body %}
    <div class="password_div">
        <div class="password_content">
            <form action="/password_edit_check/{{ hash }}" method="post">
                <div class="mb-3">
                    <h3 class="display-5">This Paste is Password Protected...</h3>
                    <label for="exampleInputEmail1" class="form-label">Enter the Password to continue</label>
                    <input type="text" class="form-control" id="password" aria-describedby="password_field" name="password">
                    <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}