@import url('https://fonts.googleapis.com/css2?family=Asap&family=Gluten&family=JetBrains+Mono:ital,wght@1,600&family=Josefin+Sans&family=Karla&family=Noto+Sans+Mono&family=Oxygen+Mono&family=Permanent+Marker&family=Noto+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Archivo+Black&family=Concert+One&family=Hammersmith+One&family=Montserrat&family=Poiret+One&family=Poppins:wght@300;400&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

::-moz-selection { /* Code for Firefox */
  color: #ECECF2;
  background: #1A15F0;
}

::selection {
  color: #ECECF2;
  background: #1A15F0;
}

#body{
    --main_bg: #f0f0f0;
    --nav_bg: #212121;
    --primary_color: #212121;
    --secondary_color: #212121;
    --nav_secondary_color: #f0f0f0;
    --link_color: #2835f1;
    --link_hover_color: #202ef0;
    background-color: var(--main_bg);
    --bs-body-color: #212121;
    --bs-body-font-family: 'Poppins', sans-serif;
    overscroll-behavior: none;
}
.navStyle{
    background-color: var(--nav_bg);
}

.navTitle{
    font-size: 2.4rem;
    color: var(--nav_secondary_color);
    font-family: 'Architects Daughter', cursive;
}

.nav_text{
    font-size: 1.4rem;
    color: var(--nav_secondary_color);
    font-family: 'Montserrat', sans-serif;
    margin: 1.8rem;
    font-weight: 300;
}

.hover_animation_underline {
    display: inline-block;
    position: relative;
    color: var(--nav_secondary_color);
}
.hover_animation_underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--nav_secondary_color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover_animation_underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#language_select{
    margin-right: 12%;
    margin-left: 12%;
    /* padding-top: 2%; */
    padding-bottom: 2%;
}
#language_btn{
    padding: 12px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-width: 2px;
    background-color: #e3dce7;
    color: #212121;
    font-family: Asap, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 12px;
    transition-delay: 25ms;
    transition-duration: 50ms;
}
#language_btn:hover{
    border-radius: 24px;
}
option{
    background-color: #ebe8ec;
    color: #212121;
    border-radius: 12px;
}
.text{
    color: var(--secondary_color);
}
.title{
    font-family: 'Concert One', sans-serif;
    font-size: 3.2rem;
    color: var(--secondary_color);
}
.CodeMirror * {
    font-family: 'Oxygen Mono', 'Courier New', Courier, monospace;
    font-size: 1rem;
}
.main_title{
    font-family: 'Poiret One', sans-serif;
    font-size: 5.6rem;
    color: var(--primary_color);
    background: -webkit-linear-gradient(#1f2020, #222423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 1.8rem;
}

.error_div{
    display: none;
    padding: 5%;
    font-size: 1.8rem;
}

@media only screen and (max-width: 700px) {
    .main_title{
        font-size: 2.4rem;
    }
    .main_text{
        font-size: 1rem;
    }
    .col-sm{
        text-align: center;
        margin: 1.8rem;
    }
    .end_div{
        padding: 0px;
        margin: 0px;
    }
    .article_div{
        display: none;
    }
    .error_div{
        display: block;
    }
}

@media only screen and (max-width: 300px) {
    .error_div{
        display: block;
    }
}

.main_text{
    color: var(--secondary_color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}

.div_heading{
    color: var(--secondary_color);
    font-family: 'Poiret One', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
}

.div_text{
    color: var(--secondary_color);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.div{
    padding: 12px;
    padding-top: 0px;
}

.text_div{
    padding: 1.4rem;
    margin-left: 5%;
    margin-right: 5%;
}

#content {
    color: #212121;
    padding: 5%;
    background-color: #f0f0f0;
}

#content h1{
    color: #212121;
    font-family: 'Poppins', sans-serif;
}

.link{
    color: var(--link_color);
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    transition-delay: 50ms;
    transition-duration: 1s;
}

.link:hover{
    color: var(--link_hover_color);
    animation: pulse;
}

#lang_form{
    border-radius: 24px;
    padding: 0.5rem;
}

.sub_heading{
    color: var(--secondary_color);
    font-family: 'Poiret One', sans-serif;
    font-size: 2.4rem;
    padding: 1.2rem;
    text-align: center;
}

.btn_link{
    color: var(--secondary_color);
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    text-decoration: none;
    transition-delay: 50ms;
    transition-duration: 1s;
}

.btn_link:hover{
    color: #9ddce7;
    animation: pulse;
}

.password_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.password_content{
    display: flex;
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(226, 218, 218, 0.753), rgba(233, 233, 233, 0.63));
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    border-radius: 20px;
}
.login_div{
    margin-top: 5%;
    padding: 2%;
    padding-right: 5%;
    border-radius: 1.2rem;
    min-height: 60vh;
    min-width: 100vh;
    max-width: 100vh;
    background-color: var(--primary_color);
}

.author_div{
    padding: 1.8rem;
    text-align: center;
    border-width: 1.8rem;
    border-color: var(--primary_color);
    border-style: dashed;
}

#error{
    width: 50%;
    height: 50%;
}

.main_img{
    width: 60%;
    height: 60%;
}

.card:hover{
    animation: pulse;
    animation-duration: 1s;
}

.end_div{
    padding-top: 4%; 
    padding-bottom: 4%; 
    margin-top: 12px; 
    margin-bottom: 2%;
}

.article_div{
    margin: 2%;
}

.img_div{
    text-align: center;
    padding: 12px;
}

#full {
    width: 50%;
    height: 50%;
}

.div_range {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #f0f0f0;
  border-radius: 24px;
}

.slider:hover {
  opacity: 1;
}

.code{
    font-family: 'Fira Code', Consolas, monospace;
    font-size: 1rem;
    background-color: #212121;
    padding: 0.2rem;
    border-radius: 12px;
}

.code_h2{
    font-size: 24px;
}

#img{
    width: 60%;
    height: 60%;
    margin: 2%;
}